<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.next.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<section layout:fragment="customStyle">
  <link rel="stylesheet" th:href="@{/css/lodge/detail.css}" />
</section>
<div layout:fragment="content">

  <script th:inline="javascript">
    window.lodgeDTO = /*[[${lodgeDTO}]]*/;
  </script>
  <div th:insert="~{fragments/search :: search}" class="sticky"></div>

  <div class="navBar">
    <div class="container">
      <ul>
        <li><a href="#lodgeImageArea">개요</a></li>
        <li><a href="#roomArea">객실</a></li>
        <li><a href="#facility">서비스 및 부대시설</a></li>
        <li><a href="#location">위치</a></li>
        <li><a href="#reviewArea">리뷰</a></li>
      </ul>

      <div class="minPrice" th:text="${lodgeDTO.cheapestPrice}"></div>
    </div>
  </div>

  <div class="container main">
    <div id="lodgeImageArea" th:with="images=${lodgeDTO.lodgeImages}">
      <div class="bigImage" th:style="'background-image: url(' + ${images.get(0)} + ');'"></div>
      <div class="smallImage" th:each="i:${#numbers.sequence(1, 4)}"
           th:style="'background-image:url(' + ${images.get(i)} + ');'"></div>
    </div>

    <div id="titleArea">
      <span th:text="${lodgeDTO.lodgeType}"></span>
      <div class="titleAndPrice">
        <span th:text="${lodgeDTO.lodgeName}"></span>
        <span>[[${lodgeDTO.cheapestPrice}]]</span>
      </div>
    </div>

    <div class="areaUnderTitle">
      <div class="oneReview">
        대표 리뷰
      </div>
      <div class="facility">
        서비스 및 부대시설
      </div>
      <div class="map">
        지도
      </div>
    </div>

    <div id="roomArea" class="area">
      <span class="areaTitle">객실 선택</span>
      <div class="room" th:each="room:${lodgeDTO.rooms}">
        <div class="roomPreviewImage" th:style="'background-image: url(' + ${room.roomImageUrls.get(0) + ')'}"></div>
        <div class="roomDescription">
          <span class="roomTitle" th:text="${room.roomName}"></span>
          <div class="roomDetail">
            <div class="rent" th:if="${rentPrice ne null}">
              <span>대실</span>
              <div class="rentDetail">
                <div class="rentOption">
                  <svg width="12" height="12" viewBox="0 0 20 20" fill="#707070" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.9 5.3a.903.903 0 00-.893.79L9 6.2v3.9c0 .072.008.141.023.208a.897.897 0 00.173.496l.09.105 2.263 2.263a.9.9 0 001.354-1.18l-.081-.093L10.8 9.877V6.2a.9.9 0 00-.9-.9z"
                      fill="current"></path>
                    <path d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0a6 6 0 10-12 0 6 6 0 0012 0z" fill="current"></path>
                  </svg>
                  <div class="rentTime">
                    <div th:if="${room.rentTimeInt >= 6}" class="longRent">무한대실</div>
                    <div th:text="${room.rentTime}"></div>
                  </div>
                </div>
                <div class="rentPriceArea">
                  <div class="rentPrice">[[${room.rentPrice}]]원</div>
                  <div class="reserveBtn paymentBtn_rent" th:data-roomid="${room.roomId}">
                    <span>대실 예약</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="stay">
              <span>숙박</span>
              <div class="stayDetail">
                <div class="stayOption">
                  <svg width="12" height="12" viewBox="0 0 20 20" fill="#707070" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M9.9 5.3a.903.903 0 00-.893.79L9 6.2v3.9c0 .072.008.141.023.208a.897.897 0 00.173.496l.09.105 2.263 2.263a.9.9 0 001.354-1.18l-.081-.093L10.8 9.877V6.2a.9.9 0 00-.9-.9z"
                      fill="current"></path>
                    <path d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0a6 6 0 10-12 0 6 6 0 0012 0z" fill="current"></path>
                  </svg>
                  <div class="stayTime">
                    <div th:if="${room.stayOption ne null}" class="earlyCheckIn" th:text="${room.stayOption}"></div>
                    <div th:text="${room.stayCheckIn}"></div>
                    <div th:text="${room.stayCheckOut}"></div>
                  </div>
                </div>
                <div class="stayPriceArea">
                  <th:block th:if="${room.stayPrice != 0}">
                    <div class="stayPrice">[[${room.stayPrice}]]원</div>
                    <div class="reserveBtn paymentBtn_stay">
                      <span>숙박 예약</span>
                    </div>
                  </th:block>
                  <th:block th:if="${room.stayPrice == 0}">
                    <div class="soldOut">다른 날짜 확인</div>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
          <div class="personCountInfo">
            <div class="title">객실정보</div>
            <div class="content">기준[[${room.standardCount}]]인 · 최대[[${room.maxCount}]]인</div>
          </div>
        </div>
      </div>
    </div>

    <div id="lodgeIntro" th:if="${lodgeDTO.intro ne null}" class="area">
      <span class="areaTitle">숙소 소개</span>
      <div class="icon left">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="#dddddd" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd"
                d="M7.637 12.022C7 10.145 9.3 7.058 11 6.646V5c-4.934 2.058-7 5.953-7 9.61 0 1.22.37 2.256 1.107 3.11.739.853 1.618 1.28 2.64 1.28.91 0 1.672-.328 2.282-.985.611-.656.916-1.463.916-2.42 0-.9-.31-1.692-.93-2.377-.62-.685-1.412-1.083-2.378-1.196zm9 0C16 10.145 18.3 7.058 20 6.646V5c-4.934 2.058-7 5.953-7 9.61 0 1.22.37 2.256 1.107 3.11.739.853 1.618 1.28 2.64 1.28.91 0 1.672-.328 2.282-.985.611-.656.916-1.463.916-2.42 0-.9-.31-1.692-.93-2.377-.62-.685-1.412-1.083-2.378-1.196z"></path>
        </svg>
      </div>
      <p th:text="${lodgeDTO.intro}"></p>
      <div class="icon right">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="#dddddd" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd"
                d="M7.637 12.022C7 10.145 9.3 7.058 11 6.646V5c-4.934 2.058-7 5.953-7 9.61 0 1.22.37 2.256 1.107 3.11.739.853 1.618 1.28 2.64 1.28.91 0 1.672-.328 2.282-.985.611-.656.916-1.463.916-2.42 0-.9-.31-1.692-.93-2.377-.62-.685-1.412-1.083-2.378-1.196zm9 0C16 10.145 18.3 7.058 20 6.646V5c-4.934 2.058-7 5.953-7 9.61 0 1.22.37 2.256 1.107 3.11.739.853 1.618 1.28 2.64 1.28.91 0 1.672-.328 2.282-.985.611-.656.916-1.463.916-2.42 0-.9-.31-1.692-.93-2.377-.62-.685-1.412-1.083-2.378-1.196z"></path>
        </svg>
      </div>
    </div>

    <div id="facility" class="area">
      <span class="areaTitle">서비스 및 부대시설</span>
      <div class="facilityTable">
        <div th:each="facility:${lodgeDTO.facilities}">
          [[${facility}]]
        </div>
      </div>
    </div>

    <div id="description" class="area">
      <span class="areaTitle">숙소 이용 정보</span>
      <div th:each="item : ${lodgeDTO.description}" class="descItem">
        <div class="descTitle" th:text="${item.title}"></div>
        <ul class="realList">
          <li th:each="content:${item.contents}" th:utext="${content}"></li>
        </ul>
      </div>
    </div>

    <div id="location" class="area">
      <span class="areaTitle">위치</span>
      <div id="map"></div>
      <div id="addressArea">
        <div id="addressText" th:text="${lodgeDTO.lodgeAddr}"></div>
        <a id="addressCopy">주소복사</a>
      </div>
      <ul class="realList">
        <li th:each="way:${lodgeDTO.ways}" th:text="${way}" class="way"></li>
      </ul>
    </div>
    <div id="reviewArea"></div>

    <script type="text/javascript" th:src="'https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=' + ${naverMapId}"></script>
    <script th:inline="javascript">
      const latitude = /*[[${lodgeDTO.latitude}]]*/,
      longitude = /*[[${lodgeDTO.longitude}]]*/;
    </script>
    <script th:src="@{/js/lodge/detail.js}"></script>
  </div>
</div>