<!DOCTYPE html>
<html lang="en">

<h1>문의내용</h1>
<!-- cg: category -->
<form>
<div class="mb-3 d-flex align-items-center">
  <label for="cg" class="form-label me-2 mb-0" style="width: 100px;">카테고리</label>
  <input type="text" class="form-control"
         name="category" th:value="${}" id="cg" readonly>
</div>

<!-- wt: writer -->
<div class="mb-3 d-flex align-items-center">
  <label for="wt" class="form-label me-2 mb-0" style="width: 100px;">작성자</label>
  <input type="text" class="form-control"
         name="writer" th:value="${}" id="wt" readonly>
</div>

<!-- wd: writeDay -->
<div class="mb-3 d-flex align-items-center">
  <label for="wd" class="form-label me-2 mb-0" style="width: 100px;">작성일</label>
  <input type="text" class="form-control"
         name="writeDay" th:value="${}" id="wd" readonly>
</div>

<!-- c: content -->
<div class="mb-3">
  <textarea type="text" class="form-control"
            name="content" id="c" cols="30" rows="10" readonly>[[${}]]</textarea>
</div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" id="listBtn" class="btn btn-primary">List</button>
    <button type="button" id="modBtn" class="btn btn-warning">Modify</button>
    <button type="button" id="delBtn" class="btn btn-danger">Remove</button>
  </div>
</form>
