<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
    <!-- 헤더 콘텐츠 -->
    <header class="site-header">
        <div class="wrapper header-wrapper">
            <div class="inner header-inner">
                <!-- Logo (왼쪽 정렬) -->
                <a href="/" class="logo">
                    <img src="/image/Berry_logo.png" alt="로고">
                </a>
                <!-- 우측 액션 아이콘 및 버튼 그룹 -->
                <div class="header-actions">
                    <a href="/notifications" class="icon-btn" sec:authorize="isAuthenticated()">
                        <img src="/image/icon-notification.png" alt="알림" class="header-icon" />
                    </a>
                    <a href="/favorites" class="icon-btn" sec:authorize="isAuthenticated()">
                        <img src="/image/icon-favorite.png" alt="즐겨찾기" class="header-icon" />
                    </a>
                    <a href="/user/login"  class="btn-login" sec:authorize="isAnonymous()">로그인</a>
                    <a href="/user/logout"  class="btn-login" sec:authorize="isAuthenticated()">로그아웃</a>
                    <a href="/user/myPage"  class="btn-myPage" sec:authorize="isAuthenticated()">
                        <img src="/image/icon-account.png" alt="마이페이지" class="header-icon" />
                    </a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </header>
</div>