<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.next.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
   <title>메인 페이지</title>
   <!-- 필요하다면 CSS 추가 -->
   <link rel="stylesheet" th:href="@{/css/main_section_two.css}" />
</head>
<body>
<div layout:fragment="content">
   <!-- 기존 검색 영역 -->
   <div th:insert="~{fragments/search :: search}"></div>

   <!-- Top5 슬라이더 영역 -->
   <div th:insert="~{fragments/main_section_two :: main_section_two(top5=${top5})}"></div>
</div>

<!-- Swiper·Chart 초기화 스크립트 -->
<script th:src="@{/js/main_section_two.js}"></script>
</body>
</html>
