<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<section layout:fragment="customStyle">
  <link rel="stylesheet" th:href="@{/css/qna/list.css}" />
</section>

<body>
<div class="container" layout:fragment="content">

  <h1 style="text-align: center; margin-bottom: 20px;">고객문의</h1>

  <div class="notice-box">
    글 내용, 제목에 근거 없는 욕설이나 비방이 있는 경우, 해당 사항은 삭제 처리됩니다.
    <br>
    <br>
    유사, 동일한 내용을 반복적으로 게시한 경우 삭제됩니다.
    <br>
    <br>
    작성하는 글의 본문과 첨부파일에 개인정보를 포함하지 않도록 주의하시기 바랍니다.
    <br>
    <br>
    자세한 정보는 공지를 참고해 주시기 바랍니다.
  </div>




  <div class="search-box-wrapper">
    <form action="/qna/list" method="get" role="search">

      <!-- 날짜 줄 -->
      <div class="search-line">
        <input
                type="date"
                id="start"
                name="tripStart"
                />
        <span style="align-self: center;">~</span>
        <input
                type="date"
                id="end"
                name="tripEnd"
                 />
      </div>

      <!-- 검색줄 -->
      <div class="search-line">
        <select class="form-select" name="type" aria-label="Select Category">
          <option th:selected="${ph.type == null ? true : false}">--선택--</option>
          <option th:selected="${ph.type == '결제' ? true : false}">결제</option>
          <option th:selected="${ph.type == '환불' ? true : false}">환불</option>
          <option th:selected="${ph.type == '시설' ? true : false}">시설</option>
          <option th:selected="${ph.type == '서비스' ? true : false}">서비스</option>
          <option th:selected="${ph.type == '기타' ? true : false}">기타</option>
        </select>
        <input class="form-control" name="keyword" th:value="${ph.keyword}" type="search" placeholder="Search" aria-label="Search" />
        <input type="hidden" name="pageNo" th:value="1" />
        <button type="submit" class="btn btn-primary">Search</button>
      </div>

    </form>
  </div>

  <!-- 테이블 -->
  <table class="table">
    <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">카테고리</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
      <th scope="col">진행</th>
    </tr>
    </thead>
    <!--   작성글, 리스트 나열   -->
    <tbody>
    <tr th:each="notice : ${noticeList}">
      <th scope="row">[[${notice.bno}]]</th>
      <td>[[${notice.category}]]</td>
      <td><a th:href="@{/qna/detail(bno=${notice.bno})}">
        [[${notice.title}]]</a>

      </td>
      <td>[[${notice.userEmail}]]</td>
      <td>[[${#temporals.format(notice.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
      <td>[[${notice.comment}]]</td>
    </tr>
    <tr th:each="bvo:${ph.list}">
      <th scope="row">[[${bvo.bno}]]</th>
      <td>[[${bvo.category}]]</td>
      <td><a th:href="@{/qna/detail(bno=${bvo.bno})}">
        [[${bvo.title}]]</a>

      </td>
      <td>[[${bvo.userEmail}]]</td>
      <td>[[${#temporals.format(bvo.regDate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
      <td>[[${bvo.comment}]]</td>
    </tr>
    </tbody>

  </table>

  <!-- 글 작성 버튼 -> register로 이동 -->
  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a th:href="@{/qna/register}"><button type="button" class="btn btn-primary">작성</button></a>
  </div>

  <!-- 페이지네이션 PagingHandler -->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">

      <!-- 이전 페이지 버튼: 1페이지 이상일 때만 보이기 -->
      <li class="page-item" th:if="${ph.hasPrev}">
        <a class="page-link"
           th:href="@{/qna /list(pageNo=${ph.startPage - 1}, type=${ph.type}, keyword=${ph.keyword}, tripStart=${ph.tripStart}, tripEnd=${ph.tripEnd})}"
           aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>

      <!-- 페이지 번호 버튼 -->
      <th:block th:each="i : ${#numbers.sequence(ph.startPage, ph.endPage)}">
        <li class="page-item" th:classappend="${ph.pageNo == i} ? 'active'">
          <a class="page-link"
             th:href="@{/qna/list(pageNo=${i}, type=${ph.type}, keyword=${ph.keyword}, tripStart=${ph.tripStart}, tripEnd=${ph.tripEnd})}">
            [[${i}]]
          </a>
        </li>
      </th:block>

      <!-- 다음 페이지 버튼: 마지막 페이지가 아닐 때만 보이기 -->
      <li class="page-item" th:if="${ph.hasNext}">
        <a class="page-link"
           th:href="@{/qna/list(pageNo=${ph.endPage + 1}, type=${ph.type}, keyword=${ph.keyword}, tripStart=${ph.tripStart}, tripEnd=${ph.tripEnd})}"
           aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

    </ul>
  </nav>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const today = new Date();
    const todayFormatted = today.toISOString().split('T')[0];

    const lastMonth = new Date(today);
    lastMonth.setMonth(today.getMonth() - 1);
    const lastMonthFormatted = lastMonth.toISOString().split('T')[0];

    const startInput = document.getElementById('start');
    const endInput = document.getElementById('end');

    startInput.value = lastMonthFormatted;
    endInput.value = todayFormatted;

    startInput.max = todayFormatted;
    endInput.max = todayFormatted;
  });
</script>
</div>

</body>
