<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.next.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<div layout:fragment="content">
  <h1>Berry qna 수정</h1>
  <form action="/qna/modify" method="post">
    <input type="hidden" name="bno">
    <input type="text" name="title" placeholder="test title...">
    <select name="category">
      <option value="공지">공지</option>
      <option value="결제">결제</option>
      <option value="시설">시설</option>
      <option value="서비스">서비스</option>
      <option value="기타" selected>기타</option>
    </select>
    <input type="text" name="userEmail" readonly>
    <input type="text" name="content" placeholder="test title...">
    <input type="checkbox" name="isSecret">
    <button type="submit"> 작성 </button>



  </form>

</div>